<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>404 Not Found</title>
		<style type="text/css">
			<!--
			body {
			background-color: #0402a4;
			font-size: 18px;
			font-family: Courier, Consolas;
			color: #FFFFFF;
			}
			-->
		</style>
	</head>
	<body>
		<p>A problem has been detected and Browser has been shut down to prevent damage to your computer. </p>
		<p>404_NOT_FOUND</p>
		<p>If this is the first time you've seen this stop error screen, refresh your browser. If this screen appears again, follow these steps: </p>
		<p>Check to be sure you have adequate disk space, if a driver is identified in the stop message, disable the driver or check with the manufacturer for driver updates. Try changing video adapters. </p>
		<p>Check with your hardware vendor for any BIOS updates. Disable BIOS memory options such as caching or shadowing. If you need to use safe Mode to try again, restart your browser, press Ctrl+Shift+Delete to access Clear recent History, and then beside Time range to clear, click Everything, and then select clear now. </p>
		<p>Technical information:</p>
		<p>*** STOP:0×00000001( 0×00000000，0×00000001， 0×00000002，0×00000003 )</p>
		<p>Beginning dump of physical memory</p>
		<p>physical memory dump complete</p>
		<p>Contact your system administrator or technical support group for further assistance. </p>
	</body>
</html>
