
{% extends "bootstrap/base.html" %}

{% block title %}Tiny Google{% endblock %}

{% block head %}
  {{super()}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/images/branding/google_shortcut.ico" rel="shortcut icon">
  <link href="/static/css/index.css" type="text/css" rel="stylesheet" >
{% endblock %}

{% block navbar %}
<div id="navbar" class="navbar navbar-fixed-top nav" role="navigation">
  <a href="https://github.com/yrq110" target="_blank" style="positon:fixed"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand nav_a" href="/">
          Tiny Google
        </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="nav_ul">
          <li style="background:#4285f4;"><a class="nav_a">G</a></li>
          <li style="background:#ea4335;"><a class="nav_a">o</a></li>
          <li style="background:#fbbd0b;"><a class="nav_a">o</a></li>
          <li style="background:#4285f4;"><a class="nav_a">g</a></li>
          <li style="background:#34a853;"><a class="nav_a">l</a></li>
          <li style="background:#ea4335;"><a class="nav_a">e</a></li>
        </ul>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<br><br><br>
<div class="container">

  <div class="page-header">

    <p style="text-align:center">
      <img src="/static/images/branding/google_logo.png" alt="Google_logo" width=20%>
    </p>

    <h1> </h1>
    {% if engine_name %}
      <h5>current engine: <span class="label label-success">{{ engine_name }}</span></h5>
    {% endif %}
  </div>

  <div class="row" id="inputBar" style="margin:0 20%;">
    <div class="input-group" style="text-align:center" >
      {% if q %}
        <input id="inputField" type="text" class="form-control" value = {{ q }}>
      {% else %}
        <input id="inputField" type="text" class="form-control">
      {% endif %}
        <span class="input-group-btn">
          <button id="searchBtn" class="btn btn-default" type="button">Go!</button>
        </span>
    </div>
  </div>

  <br><br>

  {% if error %}

    <div class="alert alert-warning" role="alert">sorry dude,something wrong with engine......</div>
    <div class="alert alert-danger" role="alert">{{ error_msg }}</div>

  {% else %}

    {% if search_info %}
      <div class="alert alert-success" role="alert">{{ search_info }}</div>
    {% endif %}

    {% for result in results %}
      <div id="cell" class="panel">
        {% for data in result %}

          {% if loop.index == 1 %}
            {% set title = data %}
          {% endif %}

          {% if loop.index == 2 %}
            {% set href = data %}
            <div id="r_title">
              <a href="{{ data }}" target="_blank" ><h2>{{ title }}</h2></a>
            </div>
          {% endif %}

          {% if loop.index == 3 %}
            <p id="r_link">{{ data }}</p>
          {% endif %}

          {% if loop.index == 4 %}
            <p id="r_snippet">{{ data }}</p>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

  {% endif %}
</div>

{% if results %}
<div class="page-turn">
  <nav>
    <ul class="pager">
      {% if has_previous %}
      <li><a href="/query?q={{ q }}&start={{ current_start_index-10 }}">Previous</a></li>
      {% endif %}
      <li><a href="/query?q={{ q }}&start={{ current_start_index+10 }}">Next</a></li>
    </ul>
  </nav>
</div>
{% endif %}
<div class="footer" id="footer">
  <div class="container">
    <br>
    <p>Designed and built by <a href="https://github.com/yrq110" target="_blank">@yrq110</a></p>
    <p>Powered by <a href="http://flask.pocoo.org/" target="_blank">Flask</a> and <a href="https://cse.google.com/cse/" target="_blank">Google CSE </a></p>
    <p>Current version : v0.0.1</p>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {{super()}}
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}
