
{% extends "bootstrap/base.html" %}
{% block title %}Tiny Google{% endblock %}

{% block head %}
{{super()}}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link type="text/css" rel="stylesheet" href="static/css/loading.css"> -->
{% endblock %}
{% block navbar %}
<!-- <div id="navbar" class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Tiny Google Engine</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</div> -->
{% endblock %}
{% block content %}



<div class="container">

  <a href="https://github.com/yrq110" target="_blank" style="positon:fixed"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>

  <div class="page-header">
    <h1>Tiny Google
      {% if engine_name %}
      <h5>current_engine: {{ engine_name }}</h5>
      {% endif %}
    </h1>
  </div>

  <div class="row" id="inputBar">
    <div class="input-group">
      <input id="inputField" type="text" class="form-control">
        <span class="input-group-btn">
          <button id="searchBtn" class="btn btn-default" type="button">Go!</button>
        </span>
    </div>
  </div>

  <br><br>

  {% if error %}

    <div class="alert alert-warning" role="alert">sorry dude,something wrong with engine......</div>
    <div class="alert alert-danger" role="alert">{{ error_msg }}</div>
  {% else %}

    <div class="alert alert-success" role="alert">{{ search_info }}</div>
    {% for result in results %}
      <div id="cell" class="panel">
        {% for data in result %}

          {% if loop.index == 1 %}
            {% set title = data %}
          {% endif %}

          {% if loop.index == 2 %}
            {% set href = data %}
            <div id="r_title">
              <a href="{{ data }}"><h2>{{ title }}</h2></a>
            </div>
          {% endif %}

          {% if loop.index == 3 %}
            <p id="r_link">{{ data }}</p>
          {% endif %}

          {% if loop.index == 4 %}
            <p id="r_snippet">{{ data }}</p>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

  {% endif %}
</div>
{% endblock %}
{% block styles %}
  {{super()}}
  <style>
    #r_title {
        #font-size : large
    }

    #r_link {

    }
    #r_snippet {

    }

    #inputBar {
        margin: 0px 50% 0px 0px
    }

    .p {
      padding : 20px
    }
  </style>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<script type="text/javascript">

  $('#searchBtn').click(function() {
    var q = $('#inputField').val();
    console.log(q)
    console.log(q.class)
    if (q == "" || q == null || q == undefined) {
      location.href='/';
    } else {
      var string = '/query?q=' + q;
      location.href = string;
    };


  });

</script>

{% endblock %}
